<div *ngIf="!isLoaded" class="text-center">
  Loading...
</div>
<div *ngIf="isLoaded">
  <article class="content">
    <div class="title-block">
      <h3 class="title">
        <a [routerLink]="['/system/history']"><i class="fa fa-arrow-left"></i></a>
        Page Record № {{event.id}}
        <span class="sparkline bar"></span>
      </h3>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <div class="card" [ngClass]="getClassColor()">
            <div class="card-header">
              <div class="header-block">
                <p class="title">{{ event.type | upperFirstLetter }}</p>
              </div>
            </div>
            <div class="card-block">
              <ul>
                <li>Amount: <strong>{{event.amount}}</strong></li>
                <li>Category: <strong>{{ category.name }}</strong></li>
                <li>Description: <strong>{{ event.description }}</strong></li>
              </ul>
            </div>
            <div class="card-footer">{{ event.date | wfmMoment:"DD.MM.YYYY HH:mm:ss"}}</div>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
<!--<section class="section">-->
<!--<div class="row">-->
<!--<div class="col-xs-6 col-xs-offset-3">-->
<!--<div class="card card-danger">-->
<!--<div class="card-header">-->
<!--<div class="header-block">-->
<!--<p class="title">Расход</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-block">-->
<!--<ul>-->
<!--<li>Сумма: <strong>44 444.44 P</strong></li>-->
<!--<li>Категория: <strong>Название категории</strong></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="card-footer">12.12.2017</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

